.container{
    max-width: 67.5rem;
    margin: 2rem auto;
    padding: 0 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--white);
    position: absolute;
}

.fundo{
    padding-top: 2.5rem;
    width: auto;
    display: flex;
    position: relative;
    justify-content: center;
}

.back img{
    object-fit: cover;
    width: 63.75rem;
    height: 30.8rem;
    display: flex;
    border-radius: 2.5rem;
    opacity: 30%;
}

.info{
    padding-left: 1.5rem;
    flex: 0 0 70%;
    width: 100%;
}

.poster img{
    width: auto;
    height: 26.7rem;
    border-radius: 1.25rem;
}

.info h2{
    font-size: 2rem;
    text-transform: uppercase;
}

.data{
opacity: 50%;
}

.vote{
    width:3.6rem;
    height:3.6rem;
    border-radius: 100%;
    margin-top: 1.25rem;
    background-color:var(--blue-dark);
}

.vote h4{
    height:3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo{
    font-size: 1rem;
}

.conteudo h3{
    padding-top: 1.25rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

@media (max-width:577px){
    .fundo{
        margin-left: 29rem;
        margin-bottom: 10rem;
    }
    
    .back img{
        width: 45rem;
        height: 135rem;
    }

    .container{

        padding-top: 5rem;
    }

    .poster img{
        width: auto;
        height: 46rem;
        border-radius: 3rem;
    }
    
    .info{
        padding-top: 3rem;
        width: 50rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .info h2{
        font-size: 3rem;
    }

    .data{
        font-size: 1.75rem;
        padding-top: 0.5rem;
    }

    .vote{
        width:6rem;
        height:6rem;
        margin-top: 2rem;

    }
    
    .vote h4{
        height:6rem;
        font-size: 1.75rem;
    }

    .conteudo h3{
        padding-top: 2rem;
        font-size: 1.75rem;
    }

    .conteudo h5{
        padding-top: 1.5rem;
        font-size: 1.75rem;
    }

}