.header{
    width: 100%;
    display: flex;
    position: relative;

}

.header img{
    margin-top: 2.5rem;
    margin-left: 10rem;
    height: 2rem;
    width: auto;

}

@media (max-width:577px){
    .header{
        justify-content: center;
    }
    .header img{
        margin-top: 5rem;
        margin-bottom: 5rem;
        margin-left: 18rem;
        height: 4rem;
        width: auto;
    
    }
}