.header{
    width: 100%;
    display: flex;
    position: relative;

}

.header img{
    margin-top: 40px;
    margin-left: 165px;
    height: 2rem;
    width: auto;

}

@media (max-width:577px){
    .header{
        justify-content: center;
    }
    .header img{
        margin-top: 30px;
        margin-left: 82px;
        height: 4rem;
        width: auto;
    
    }

  

}