.footer{
    padding: 2rem;
    text-align: center;
}

.footer img{
    height: 1rem;
    width: auto;
}

.footer h4{
    font-size: 0.75rem;
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    padding-top: 1rem;
}


@media (max-width:577px){
    .footer{
        width: 46rem;
        align-items: center;
        margin-left: 12rem;
    }
    .footer img{
        height: 2rem;
        width: auto;
    
    }
    
    .footer h4{
        font-size: 1.25rem;
    }
  
}
